.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.drink-name-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.cancel-button,
.save-button {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button {
    background-color: #ccc;
    color: black;
}

.cancel-button:hover {
    background-color: #bbb;
}

.save-button {
    background-color: var(--color-primary);
    color: white;
}

.save-button:hover {
    background-color: var(--color-secondary);
}

/* Center the cup theme buttons */
.cup-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Add spacing below the cup preview */
}

.cup-preview svg {
    max-height: 300px;
    /* Limit the height to 300px */
    width: auto;
    /* Maintain aspect ratio */
    margin: 0 auto;
    /* Center the SVG horizontally */
    display: block;
    /* Ensure proper centering */
}

/* Center the selected ingredients list */
.selected-ingredients-list {
    text-align: center;
    margin-bottom: 20px;
    /* Add spacing below the ingredients list */
}

.ingredients-text p {
    color: black;
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
    /* Center the text */
}