.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.ingredient-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.add-drink-button {
    background-color: var(--color-primary);
    /* Darker shade of primary color */
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 30%;
}

.add-drink-button:hover {
    background-color: #5a7b5e;
    /* Slightly lighter shade */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}