.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.footer-section {
    margin: 5px;
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.footer p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: normal;
}

/* Responsivitet */
@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
    }
}