.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-menu-management {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    height: 80vh;
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow-x: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-item-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

.edit-button,
.delete-button,
.cancel-button-menu-management {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.cancel-button-menu-management {
    border: black 1px solid;
}

.edit-button:hover,
.delete-button:hover,
.cancel-button-menu-management {
    opacity: 0.9;
}


/* Ensure the edit modal has a higher z-index */
.edit-modal {
    z-index: 1100;
}