.container-animasjon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    overflow: auto;
    /* Allow scrolling if content overflows */
}

.button-group {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.responsive-button {
    font-size: 1.5vw;
    padding: 1vh 2vw;
    flex: 1 1 auto;
    min-width: 100px;
    max-width: 200px;
}

.svg-container {
    max-width: 100%;
    max-height: 100%;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    overflow: hidden;
    /* Prevent content from overflowing */
}

.manual-fill-buttons {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 1vh;
}

@media (max-width: 768px) {
    .responsive-button {
        font-size: 3vw;
        padding: 2vh 4vw;
    }

    .svg-container {
        width: 80vw;
        height: 40vh;
    }
}

@media (max-width: 480px) {
    .responsive-button {
        font-size: 4vw;
        padding: 3vh 5vw;
    }

    .svg-container {
        width: 90vw;
        height: 30vh;
    }

    .container {
        padding: 0.5rem;
        /* Reduce padding for smaller screens */
    }
}